@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cinzel+Decorative&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background: #491010;
}
#interface {
  width: 100%;
  margin: auto;
  border: #daa520 5px solid;
  box-sizing: border-box;
}
#cabecalho {
  display: flex;
  background: #491010;
  height: auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#cabecalho-menu ul {
  list-style: none;
  text-transform: uppercase;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}
#cabecalho-menu li {
  background-color: #491010;
  padding: 20px;
  transition: background-color 0.5s;
}
#cabecalho-menu li:hover {
  background-color: #3b0c0c;
}
#cabecalho-menu h1 {
  display: none;
}
#cabecalho-menu a {
  color: #daa520;
  text-decoration: none;
  font-weight: bolder;
}
#cabecalho-menu a:hover {
  color: #daa520;
  text-decoration: underline;
}
#cabecalho-logotipo {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 20px;
  padding: 5px 0 5px 20px;
}
.carousel-inner {
  background: #491010;
}
.carousel-item {
  height: 80vh;
}
.carousel-item img.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}
.texto-banner {
  font-size: 4rem;
  color: #f0c505;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.9);
}
h1 {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  font-size: 1.8rem;
  color: #daa520;
  font-weight: bolder;
  margin: 5px 10px 5px 0;
  padding: 5px 10px 5px 0;
}
h2 {
  font-family: "Calligraffitti";
  text-align: center;
  font-size: 1.5rem;
  color: #491010;
  font-weight: bolder;
  padding: 5px;
}
h3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  color: #daa520;
  font-weight: bolder;
  padding: 5px;
}
p {
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #491010;
}
hr {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #daa520;
}
#parte1 {
  background: #491010;
  color: #daa520;
  padding: 20px;
  font-weight: 600;
}
#parte2 {
  background-color: #491010;
  padding: 20px;
  font-weight: 600;
}
#parte3 {
  background: #491010;
  padding: 20px 0;
}
.carta {
  background-image: url("../fundo/fundo-carta-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  border: #daa520 5px groove;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  text-align: center;
}
.texto-carta {
  width: 65%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
#quadro1 {
  background: #f0e5c3;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #daa520 2px solid;
  border-radius: 10px;
}
#quadro2 {
  background: #f0e5c3;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #daa520 2px solid;
  border-radius: 10px;
}
#quadro3 {
  background: #f0e5c3;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #daa520 2px solid;
  border-radius: 10px;
}
.container-icones {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}
.container-icones-qd {
  border: 2px solid #491010;
  box-shadow: 2px 2px 2px #491010;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  border-radius: 10px;
  width: 350px;
  height: 430px;
}
.container-icones-qd:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 3px #491010;
}
.container-icones-qdi {
  border: 2px solid #daa520;
  box-shadow: 2px 2px 2px #daa520;
  text-align: center;
  background: #491010;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  height: 100%;
  max-height: 1000px;
}
.container-icones-qdi:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 3px #daa520;
}
.container-icones-qdi .texto-explicativo h2 {
  font-size: 1.5rem;
  color: #daa520;
  margin-bottom: 10px;
}
.container-icones-qdi i {
  font-size: 8rem;
  color: #daa520;
  padding: 10px;
}
.container-icones-qdj {
  border: 2px solid #491010;
  box-shadow: 2px 2px 2px #491010;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  border-radius: 10px;
  width: 90%;
  max-width: 380px;
  height: 420px;
  padding: 5px;
  flex-grow: 1;
}
.container-icones-qdj:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 3px #491010;
}
.imagem-icone {
  max-width: 100%;
  height: auto;
}
i {
  font-size: 5rem;
  color: #491010;
  padding: 10px;
}
.texto-explicativo {
  padding: 5px;
  color: #491010;
}
.texto-impacto {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #daa520;
}

.descritivo {
  color: #491010;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.rena1 {
  width: 90%;
  max-width: 500px;
  height: auto;
}
.botao {
  text-align: center;
}
.botao1 {
  background-color: #daa520;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  color: #491010;
  font-weight: bold;
  margin-top: 20px;
  border: #491010 2px solid;
  margin-bottom: 20px;
}
.botao2 {
  background-color: #491010;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  color: #daa520;
  font-weight: bold;
  margin-top: 20px;
  border: #daa520 2px solid;
}
.botao1 a {
  color: #491010;
  text-decoration: none;
}
.botao2 a {
  color: #daa520;
  text-decoration: none;
}
button {
  display: block;
  width: 200px;
  height: 40px;
  margin: auto;
  margin-top: 10px;
}
button a {
  color: #ffffff;
  text-decoration: none;
}
button a:hover {
  color: #ffffff;
  text-decoration: none;
}
.botao1:hover {
  background-color: #f5b107;
}
.botao2:hover {
  background-color: #2c0606;
}
.icone-imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagem-sobreposta1 {
  width: 140px;
  height: auto;
}
#rodape {
  background-color: #491010;
  color: white;
  padding: 10px;
  text-align: center;
}
#rodape i {
  color: #daa520;
  font-size: 1.5rem;
}
#rodape2 {
  background-color: #240303;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
}
.rodape2-texto {
  font-size: small;
}
